:root {
  /* --primary-font-color: #272142; */
  --primary-dark-color: #0d5c63;
  --primary-light-color: #fffffa;
  --secondary-dark-color: #a2c11c;
  --secondary-light-color: #78cdd7;
  --primary-accent-color: #e8630a;
  --secondary-accent-color: #c2ff6b;
  --teritary-accent-color: #f0ff52;
  --primary-font: "Azeret Mono", monospace;
  --secondary-font: "Glory", sans-serif;
  --teritary-font: "IBM Plex Sans Devanagari", sans-serif;
}

body {
  font-family: var(--secondary-font);
  color: var(--primary-dark-color);
}

h1,
h3 {
  font-family: var(--primary-font);
  color: var(--primary-accent-color);
  line-height: 1.5;
}

h2,
h4
{
  font-family: var(--teritary-font);
  color: var--primary-dark-color);
  line-height: 1.5;
}

img {
  margin-bottom: 20px;
  max-width: 560px;
  max-height: 560px;
}
p {
  font-family: var(--teritary-font);
  color: var(--primary-dark-color);
  font-size: 16px;
}

.project-description {
  padding: 60px 60px;
}

.hero {
  background-color: var(--primary-light-color);
  text-align: center;
  padding: 160px 0px;
}

.hero h3 {
  font-size: 22px;
}

.btn-branding {
  background: var(--secondary-dark-color);
  border-radius: 4px;
  color: var(--primary-light-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 25px;
  margin: 24px;
}

.btn-branding:hover {
  color: var(--teritary-accent-color);
}

.btn-branding-outline {
  border: 2px solid var(--secondary-light-color);
  border-radius: 4px;
  color: var(--primary-dark-color);
  font-size: 18px;
  line-height: 27px;
  padding: 5px 15px;
  margin: 24px;
  transition: border-width 0.6s linear;
}

.btn-branding-outline:hover {
  border: 2px solid var(--secondary-accent-color);
  color: var(--primary-accent-color);
  border-width: 10px;
}

@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: justify;
  }
}
